body, html {
  background: url("../img/bg1.png") no-repeat top;
  font-family: "Tahoma"; }

/* HEADER */
#container {
  width: 1024px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 11px; }

#header-top-section {
  width: 386px;
  margin-left: 638px;
  padding-bottom: 19px; }
  #header-top-section ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
    /*:word-spacing 9px */ }
    #header-top-section ul li {
      margin-top: 15px;
      display: inline-block;
      color: #b3b3b3;
      font-size: 11px;
      line-height: 1; }

#biker {
  position: absolute;
  top: 51px; }

#header-logo {
  margin-right: 42px; }

#header-logo, #header-menu {
  float: left; }

#header-menu {
  width: 834px; }

#header-row-1, #header-row-2 {
  width: 834px;
  overflow: auto; }

#header-row-1-left, #header-row-2-left {
  width: 448px;
  float: left; }

#header-row-1-right, #header-row-2-right {
  float: right; }

#header-row-2-right #header-radio1-listen-button {
  border-radius: 10px;
  padding: 4px;
  color: white;
  width: 116px;
  padding-left: 10px;
  text-align: left !important; }
  #header-row-2-right #header-radio1-listen-button #header-radio1-listen-button-text {
    float: left;
    line-height: 1.4; }
  #header-row-2-right #header-radio1-listen-button #header-radio1-listen-button-logos {
    float: left;
    margin-left: 10px; }

#header-change-fontsize {
  word-spacing: 10px; }

#small, #medium, #tall {
  display: inline-block;
  word-spacing: 1em; }

#medium {
  font-size: 18px; }

#tall {
  font-size: 25px; }

#header-tour-top-100-text {
  font-family: "Bubbledot";
  font-size: 40px;
  padding: 0px 0px 13px 0px; }

#header-navbar {
  margin-left: 2px; }

#header-radio1-button, #header-radio1-listen-button {
  border-radius: 15px 0px 0px 15px;
  width: 126px; }

#header-radio1-button, #header-tour-top-100-button, #header-radio1-listen-button {
  float: left;
  text-align: center;
  color: white;
  min-height: 14px; }
  #header-radio1-button a, #header-tour-top-100-button a, #header-radio1-listen-button a {
    max-height: 14px;
    height: 14px; }

#header-search-section {
  width: 150px;
  float: left;
  padding: 7px 11px 8px 0px !important;
  border-radius: 0px 15px 15px 0px; }
  #header-search-section form {
    position: relative;
    width: 116px;
    padding: 0;
    margin-left: 9px;
    display: block;
    float: left;
    height: 23px;
    max-height: 23px; }
    #header-search-section form #header-search {
      width: 116px;
      border: 1px solid #2e2e2e;
      height: 19px;
      max-height: 23px;
      float: left; }

#header-search-icon input {
  background: url("../img/search-icon.png");
  background-repeat: no-repeat;
  width: 25px !important;
  border: 0px !important;
  height: 24px !important;
  position: absolute;
  top: 0;
  max-height: 23px;
  padding-bottom: 20px; }

.tour-top-100-active {
  background-image: -ms-linear-gradient(bottom, #808080 50%, #2E2E2E 100%);
  background-image: -moz-linear-gradient(bottom, #808080 50%, #2E2E2E 100%);
  background-image: -o-linear-gradient(bottom, #808080 50%, #2E2E2E 100%) !important;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50, #808080), color-stop(100, #2E2E2E)) !important;
  background-image: -webkit-linear-gradient(bottom, #808080 50%, #2E2E2E 100%) !important;
  background-image: linear-gradient(to top, #808080 50%, #2E2E2E 100%); }

#header-radio1-button, #header-tour-top-100-button, #header-search-section, #header-radio1-listen-button {
  background: -webkit-linear-gradient(#555, #2E2E2E);
  background: -o-linear-gradient(#555, #2E2E2E);
  background: -moz-linear-gradient(#555, #2E2E2E);
  background: linear-gradient(#555, #2E2E2E);
  padding: 12px 13px 12px 13px; }
  #header-radio1-button a, #header-tour-top-100-button a, #header-search-section a, #header-radio1-listen-button a {
    color: white;
    text-decoration: none; }

/* BODY CONTAINER */
#body-container {
  width: 1024px;
  overflow: auto;
  background-color: #FFF;
  margin-top: 2.5em;
  border-radius: 10px 10px 0 0;
  margin-left: auto;
  margin-right: auto; }
  #body-container #date-header {
    margin-bottom: 20px;
    border: 2px solid #FFF;
    border-radius: 10px 10px 0 0;
    height: 30px;
    background: -webkit-linear-gradient(#f6bf24, rgba(255, 222, 0, 0.6), rgba(255, 222, 0, 0)); }
    #body-container #date-header ul {
      margin: 0;
      display: block;
      list-style-type: none;
      line-height: 0px;
      text-align: center;
      margin-left: -2.5em; }
      #body-container #date-header ul li {
        padding: 0 1px 0 1px;
        width: 32px;
        height: 28px;
        font-weight: bold;
        color: #000;
        text-align: center;
        display: inline-block;
        text-transform: uppercase; }
      #body-container #date-header ul #month {
        margin-right: 22px;
        letter-spacing: 3px; }
      #body-container #date-header ul .red-stripe {
        border: 2px solid transparent;
        position: relative; }
      #body-container #date-header ul .red-stripe::after {
        content: "";
        border-left: 1px solid #777;
        position: absolute;
        bottom: 25%;
        left: 104.6%;
        height: 50%;
        width: 1px; }
      #body-container #date-header ul .passed {
        background: -webkit-linear-gradient(#525252, #FFF);
        display: inline-block; }
        #body-container #date-header ul .passed .red-stripe:hover {
          border: 2px solid red;
          height: 30px; }
      #body-container #date-header ul .header-line {
        display: inline-block;
        color: #777; }
      #body-container #date-header ul .header-line-today {
        color: transparent;
        display: inline-block; }
      #body-container #date-header ul .disabled {
        display: inline-block;
        list-style-type: none;
        display: inline-block; }
      #body-container #date-header ul #today {
        background-color: #FFF;
        border: 2px solid #FF0000;
        width: 36px;
        height: 30px; }

.header-body {
  border-bottom: 1px dotted gray; }
  .header-body p {
    color: #e40101;
    font-weight: bold;
    margin-left: 7px;
    margin-top: 0px;
    margin-bottom: 10px; }

#sidebar {
  width: 230px;
  margin-left: 46px;
  margin-top: 28px;
  float: left; }
  #sidebar img {
    margin-bottom: 40px; }

#dynamic-body {
  position: relative; }
  #dynamic-body #dynamic-title-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 45px;
    width: 230px;
    padding-top: 10px;
    padding-bottom: 10px; }
    #dynamic-body #dynamic-title-container #dynamic-title {
      color: white;
      font-size: 13px;
      padding-left: 10px; }

.left-content {
  width: 710px;
  float: left;
  margin-left: 26px; }

.content {
  margin-top: 21px;
  margin-left: 11px;
  float: left;
  width: 100%; }

.song-list-item, .bner-list-item {
  float: left;
  margin-bottom: 50px; }
  .song-list-item .thumbnail, .bner-list-item .thumbnail {
    float: left;
    width: 210px;
    box-shadow: 0px 4px 10px #AAA; }
  .song-list-item .song-content, .song-list-item .bner-content, .bner-list-item .song-content, .bner-list-item .bner-content {
    width: 474px;
    float: right;
    margin-left: 16px; }
    .song-list-item .song-content .song-title, .song-list-item .song-content .bner-title, .song-list-item .bner-content .song-title, .song-list-item .bner-content .bner-title, .bner-list-item .song-content .song-title, .bner-list-item .song-content .bner-title, .bner-list-item .bner-content .song-title, .bner-list-item .bner-content .bner-title {
      height: 30px; }
      .song-list-item .song-content .song-title .number, .song-list-item .song-content .bner-title .number, .song-list-item .bner-content .song-title .number, .song-list-item .bner-content .bner-title .number, .bner-list-item .song-content .song-title .number, .bner-list-item .song-content .bner-title .number, .bner-list-item .bner-content .song-title .number, .bner-list-item .bner-content .bner-title .number {
        float: left;
        width: 26px;
        padding: 7px 4px 5px 4px;
        background-color: #FF0000;
        text-align: center;
        color: #FFF;
        font-size: 12px;
        height: 18px;
        font-weight: bold; }
      .song-list-item .song-content .song-title .info, .song-list-item .song-content .bner-title .info, .song-list-item .bner-content .song-title .info, .song-list-item .bner-content .bner-title .info, .bner-list-item .song-content .song-title .info, .bner-list-item .song-content .bner-title .info, .bner-list-item .bner-content .song-title .info, .bner-list-item .bner-content .bner-title .info {
        float: left;
        padding: 5px 0 0 10px;
        vertical-align: middle; }
    .song-list-item .song-content .description, .song-list-item .song-content .bner-description, .song-list-item .bner-content .description, .song-list-item .bner-content .bner-description, .bner-list-item .song-content .description, .bner-list-item .song-content .bner-description, .bner-list-item .bner-content .description, .bner-list-item .bner-content .bner-description {
      font-size: 12px;
      text-align: left;
      margin-top: 10px;
      height: 63.5px; }
  .song-list-item .read-more, .song-list-item a, .bner-list-item .read-more, .bner-list-item a {
    color: #09B5E7;
    font-size: 14px; }
    .song-list-item .read-more ul, .song-list-item a ul, .bner-list-item .read-more ul, .bner-list-item a ul {
      padding: 0;
      margin-bottom: 0px; }
      .song-list-item .read-more ul li, .song-list-item a ul li, .bner-list-item .read-more ul li, .bner-list-item a ul li {
        display: inline-block;
        list-style-type: none; }
      .song-list-item .read-more ul li:nth-child(2n+1), .song-list-item a ul li:nth-child(2n+1), .bner-list-item .read-more ul li:nth-child(2n+1), .bner-list-item a ul li:nth-child(2n+1) {
        color: #000; }
      .song-list-item .read-more ul li:nth-last-child(-n+3), .song-list-item a ul li:nth-last-child(-n+3), .bner-list-item .read-more ul li:nth-last-child(-n+3), .bner-list-item a ul li:nth-last-child(-n+3) {
        float: right;
        padding-left: 4px; }
      .song-list-item .read-more ul a, .song-list-item a ul a, .bner-list-item .read-more ul a, .bner-list-item a ul a {
        text-decoration: none; }
      .song-list-item .read-more ul img, .song-list-item a ul img, .bner-list-item .read-more ul img, .bner-list-item a ul img {
        width: 22px;
        vertical-align: bottom; }

.media ul {
  padding: 0;
  margin-bottom: 0px; }
  .media ul li {
    display: inline-block;
    list-style-type: none;
    float: right;
    margin-left: 4px; }
    .media ul li img {
      width: 22px;
      vertical-align: bottom; }

.bner-description {
  margin-top: 0px !important;
  margin-bottom: 25px !important; }

/* INDIVIDUAL PAGE */
.song-pagination {
  height: 6em;
  /* previous, next */
  /* today */ }
  .song-pagination .in-next {
    float: right !important; }
  .song-pagination .in-previous, .song-pagination .in-next {
    margin-top: 1em;
    width: 200px;
    float: left;
    display: block;
    font-size: 12px;
    height: 26px; }
    .song-pagination .in-previous .number, .song-pagination .in-next .number {
      float: left;
      width: 20px;
      padding: 7px 4px 5px 4px;
      background-color: #FF0000;
      text-align: center;
      color: #FFF;
      font-size: 10px;
      height: 14px;
      font-weight: bold; }
    .song-pagination .in-previous .song-id, .song-pagination .in-next .song-id {
      margin-top: -2px;
      margin-left: 3em; }
    .song-pagination .in-previous .song-id a:link, .song-pagination .in-previous .song-id a:visited, .song-pagination .in-next .song-id a:link, .song-pagination .in-next .song-id a:visited {
      text-decoration: none;
      color: #000; }
    .song-pagination .in-previous .song-id a:hover, .song-pagination .in-next .song-id a:hover {
      text-decoration: underline; }
  .song-pagination .in-today {
    margin-top: 0;
    height: 46px;
    width: 299px;
    text-align: center;
    display: block;
    float: left; }
    .song-pagination .in-today .number {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 46px;
      padding: 7px 4px 5px 4px;
      background-color: #FF0000;
      text-align: center;
      color: #FFF;
      font-size: 24px;
      height: 34px;
      font-weight: bold;
      text-align: center; }

.video-container {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  text-align: center;
  box-shadow: 0px 4px 10px #AAA; }
  .video-container .iframe {
    vertical-align: middle;
    margin: 24px 0 24px 0;
    width: 662px;
    height: 400px; }

.in-description {
  font-size: 12px;
  margin: 2em 0 2em 0; }

.pagination {
  margin-top: 40px; }
  .pagination #previous {
    float: left; }
  .pagination #next {
    float: right; }
  .pagination nav {
    display: block;
    text-align: center; }
  .pagination #comment-active {
    border: 1px solid red;
    background-color: white;
    padding: 1px 10px 1px 10px; }
  .pagination .comment-disabled {
    background-color: #ffde00;
    padding: 3px 10px 3px 10px; }
  .pagination #comment-active, .pagination .comment-disabled {
    display: inline-block;
    margin-right: 3px; }
    .pagination #comment-active a, .pagination .comment-disabled a {
      text-decoration: none;
      list-style-type: none;
      color: black;
      font-size: 14px; }
  .pagination #previous a, .pagination #next a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-weight: bold; }

/**price question */
#price_image {
  float: left; }

.price-content {
  float: left;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 479px; }
  .price-content #price-title {
    margin-top: 5px; }
  .price-content #price-date-limit {
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
    float: left; }
  .price-content #price-text {
    float: left;
    font-size: 14px; }

.number-price {
  margin-left: auto;
  margin-right: auto;
  margin-right: 10px;
  display: block;
  padding: 6px;
  background-color: #FF0000;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  float: left; }

#question {
  font-weight: bold;
  margin-bottom: 50px; }
  #question #red-word {
    color: red;
    float: left;
    margin-right: 7px; }

/* TOP 100 LIST */
.header-body .t100-title {
  position: relative; }
  .header-body .t100-title .t100-logo {
    top: 0;
    width: 200px;
    position: absolute;
    text-align: right; }

#tour-pdf {
  height: 44px;
  text-align: right;
  margin-top: 15px;
  font-size: 13px; }
  #tour-pdf img {
    width: 44px; }
  #tour-pdf #pdf-body {
    float: right; }
    #tour-pdf #pdf-body #tour-text {
      float: left;
      margin-top: 10px; }

.t100-list {
  margin-top: 5px;
  list-style-type: none; }
  .t100-list .t100-item {
    height: 26px; }
    .t100-list .t100-item .number {
      float: left;
      width: 20px;
      padding: 7px 4px 5px 4px;
      background-color: #FF0000;
      text-align: center;
      color: #FFF;
      font-size: 10px;
      height: 14px;
      font-weight: bold; }
    .t100-list .t100-item:nth-child(2n+0) .number {
      margin-left: 6px; }
    .t100-list .t100-item:nth-child(3n+0) .number {
      margin-left: 2px; }
    .t100-list .t100-item:nth-child(4n+0) .number {
      margin-left: 10px; }
    .t100-list .t100-item:nth-child(5n+0) .number {
      margin-left: 4px; }
    .t100-list .t100-item .gray-number {
      background-color: #444; }
    .t100-list .t100-item .t100-songs {
      font-size: 12px;
      padding: 6px 0 0 3em;
      height: 20px;
      margin-left: 2em;
      border-bottom: 1px dotted #000; }
    .t100-list .t100-item:last-child .t100-songs {
      border: 0; }

#submit-form {
  width: 452px; }
  #submit-form label {
    margin-bottom: 10px; }
    #submit-form label span {
      font-size: 12px;
      font-weight: bold;
      margin-left: 5px; }
    #submit-form label #grey {
      color: grey;
      font-size: 12px; }
  #submit-form input[type=text], #submit-form input[type=email], #submit-form textarea {
    margin-bottom: 10px;
    margin-top: 5px; }
  #submit-form textarea {
    width: 380px;
    max-width: 380px;
    height: 130px;
    max-height: 130px; }
  #submit-form #checkbox {
    float: left;
    margin-bottom: 50px; }
  #submit-form #submit-button {
    color: white;
    padding: 3px 8px 3px 8px;
    margin-top: 4px;
    font-size: 12px;
    float: right;
    border-radius: 6px;
    border: 0px;
    background: -webkit-linear-gradient(#555, #2E2E2E);
    background: -o-linear-gradient(#555, #2E2E2E);
    background: -moz-linear-gradient(#555, #2E2E2E);
    background: linear-gradient(#555, #2E2E2E); }

.single-comment {
  width: 400px;
  border-bottom: 1px dotted grey;
  margin-bottom: 10px; }

.name, .date, .comment, .warning {
  font-size: 12px; }

.name {
  font-weight: bold; }

.date {
  color: grey;
  margin-bottom: 5px; }

.comment {
  margin-top: 10px;
  margin-bottom: 10px; }

.warning {
  color: #09B5E7;
  margin-bottom: 10px; }

.test {
  background-color: black; }

/* FOOTER */
footer {
  margin-top: 200px;
  height: 50px;
  background: -webkit-linear-gradient(#555, #2E2E2E);
  background: -o-linear-gradient(#555, #2E2E2E);
  background: -moz-linear-gradient(#555, #2E2E2E);
  background: linear-gradient(#555, #2E2E2E); }
  footer ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
    word-spacing: 1em; }
    footer ul li {
      margin-top: 17px;
      display: inline-block;
      color: #CCC;
      font-size: 12px; }
    footer ul li:nth-child(2n+1):hover {
      color: #FFF;
      cursor: pointer; }
    footer ul li:nth-child(2n+0) {
      color: #555; }

/*# sourceMappingURL=main.css.map */
